%important-p {
    font-size: clamp(14px, 1.5vw, 20px);
    font-weight: 600;
    color: $important-text;
}


%h2{
    font-size: clamp(30px, 3vw, 50px);;
    padding: 50px;
    text-align: center;
    color: $subtitle-color;
    line-height: 1;
}

%h3{
    text-align: center;
    font-size: clamp(20px, 2.5vw, 30px);
    color: $title-color
}
