$main-color: rgb(9, 29, 51);
$title-color: rgb(167, 113, 85);
$subtitle-color: rgb(179, 114, 28);
$another-title: rgb(106, 207, 177);
$btn-color: rgb(190, 129, 49);
$fond-color: rgba(179, 114, 28, 0.3);
$important-text: rgb(69, 189, 138);




@mixin reduce-cartes-portf{
    .box-portfolio{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
  
        .cartes-portfolio{
            position: relative;
            margin: 30px;
            box-shadow: 0px 3px 5px rgba(59, 59, 59, 0.685);

            .img-portfolio{
                width: 100%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
          
            .txt-portfolio{
                width: 100%;
                height: 60px;
                background-color: rgb(250, 255, 255);
                text-align: center;
                        
            }
        }
    }
}

@mixin btn-style($btn-color) {
    display: block;
    margin: 0 auto;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    transition: .2s ease-in-out;
    font-size: clamp(12px, 2.5vw, 20px);
    padding: clamp(10px, 2vw, 15px);
    margin-bottom: 50px;
    &::before {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        width: 100%;
        height: 100%;
        background: $btn-color;
        z-index: -1;
        transition: .25s ease;
    }
    &:hover::before {
        transform: translate(4px, 4px);
    }
}

